@import '../../assets/scss/breakpoints';

.energy-page {
	.industry-page-wrapper {
		.testimonials-section-wrapper {
			display: none;
		}
		section {
			&.industry_banner {
				h1 {
					span {
						&.industry-tag {
							&:after {
								width: 100%;
							}
						}
					}
				}
			}
			&.industry-intro-wrapper {
				.wrapp_ {
					.content {
						.section-heading {
							@include for-tablet-only {}
							@include phone {
								width: 100%;
							}
							br {
								@include for-tablet-only {}
								@include phone {
									display: none;
								}
							}
							&:before {
								width: 80%;
							}
						}
						h2 {
							margin-bottom: 80px;
							text-transform: initial;
							@include for-tablet-only {}
							@include phone {
								margin-bottom: 24px;
								width: 80%;
							}
						}
					}
				}
			}
		}
	}
	.curated-large-wrapper {
		section {
			&.curated-content {
				.curated-cards {
					.custom-card {
						&.bg-violet {
							background:var(--pitch_black) !important;
							background-image: unset;
							>figure {
								img {
									display: none;
								}
							}
							&.podcast_lg_cards {
								.card-body {
									.podcast_mx-wdth {
										max-width: 100%;
									}
									.large-ban {
										div {
											&.text {
												max-width: 100%;
											}
										}
									}
								}
							}
						}
						.icon-share {
							display: none;
						}
						a {
							&.bttn {
								img {
									&.icon-share {
										display: inline-block;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}



