@import "../../assets/scss/breakpoints";

.homefaq--main {
	.faq-page-wrapper {
		section {
			&.page-heading {
				.heading-wrapper {
					padding: 80px 0 0 0;
					@include for-tablet-only {}
					@include phone {
						padding: 48px 0 0 0;
					}
					&:before {
						@include for-tablet-only {}
						@include phone {
							width: 64%;
						}
					}
					.section-heading {
						margin-bottom: 0;
					}
				}
				.grad {
					&.type-2 {
						top: 0px;
						bottom: unset;
						right: 17px;
					}
				}
			}
			&.faq-accords-wrapper {
				padding-bottom: 5rem;
				.main__ {
					.accordion {
						margin-bottom: 40px;
						.accordion-item {
							background: transparent;
							.accordion-header {
								.accordion-button {
									box-shadow: none;
									background: transparent;
									font-size: 28px;
									color: var(--pitch_black);
									font-family: "worksans-semibold", sans-serif;

									&:not(.collapsed) {
										background: transparent;
										font-size: 28px;
										filter: grayscale(1) contrast(100);
									}
								}
							}
						}
					}
				}
			}
		}
	}
}