@import "../../assets/scss/breakpoints";

::-webkit-input-placeholder {
  direction: rtl;
}

fieldset.form-group {
  position: relative;
}
.form-group input:not(:placeholder-shown) + label {
  // opacity: 0;
  transform: translateY(-0.8rem); /* Move label up when hidden */
  @include phone{
  transform: translateY(-1.6rem); /* Move label up when hidden */

  }
}
label {
  position: absolute;
  top: .6rem;
  left:0;
  transition: all .1s ease-in-out;
  cursor: text;
}

:focus + label {
  // color: #66afe9;
  font-size: 12px;
  top: -.4rem;
  background: none;
  @include phone{

  top: -.7rem;

  }
}



.container{
  .contactForm{
    display: flex;
    flex-direction: column;
    gap: 42px;
    @include for-different-height{
      gap: 24px;
    }
  }

}
.form-control{
  position: relative;
    z-index: 2;
}
.f-control{
  position: relative;
}
.focused{
 display: none;
 position: absolute;
 left: 0;
 font-size: 12px !important;
 top: 0;
}
// #formBasicName{
//   font-size: 16px;
// }
// #formBasicName:focus{
//   font-size: 12px;
//   padding-bottom: 18px;
// }
.f-control{
    position: relative;
    
}
    .error-msg {
      position: absolute;
      bottom: -24px;
      left: -6px;
      color: var(--red);
      margin-left: 7px;
      font-size: 14px;
      line-height: 160%;
      font-family: "Work Sans", sans-serif;
      font-weight: 500;
//           display: block;
// color: red;
// font-size: 10px;
// // position: absolute;
// bottom: -18px;
      @include for-tablet-only {}
      @include phone {
        font-size: 14px;
        line-height: 160%;
        display: block;
        margin-left: 0;
        left: 0;
        bottom: -26px;
      }
    }
  
  