@import "../../assets/scss/breakpoints";

.podcast-large-cta {
    background: url("../../assets/img/blogs/podcast-bg.svg");
    padding: 24px;
    @include for-tablet-only {
    }
    @include phone {
      display: none;
    }
    .latest-podcast {
      .tag_ {
        color: var(--white);
        background: var(--white-5);
        display: inline-block;
        margin-bottom: 16px;
      }
      p {
        color: var(--white);
        margin-bottom: 40px;
      }
      .bttn-secondary {
        img {
          filter: invert(100%) brightness(100);
          height: 16px;
          width: 16px;
        }
      }
    }
  }